#extra_sales_heatmap_block {
  width: 700px;
}

#extras_sales_chart {
  width: 100%;
}

#extras_sales_chart canvas {
  margin-top: 10px;
}

.extra_revenue_percentage {
  color: #8b969c;
  font-size: 0.7em;
}

.extra_extend_title {
  padding-left: 20px;
}

.extra_summary_review_positive {
  color: #64EA4F;
}

.extra_summary_review_negative {
  color: #ED4949;
}

#extras_reviews_table {
  width: 100%;
}

#extras_reviews_table tr:first-child {
  font-weight: bold;
}

#extras_reviews_table td:first-child {
  text-align: left;
  font-weight: bold;
}

#extras_reviews_table td {
  width: auto;
  text-align: right;
}