#extras_wishlists_table table {
  width: 100%;
}

#extras_wishlists_table {
  width: 100%;
}

#extras_wishlists_table_scrollable {
  width: 100%;
  overflow-y: scroll;
  max-height: 400px;
  scrollbar-color: #333 #555;
  scrollbar-width: thin;
}

#extras_wishlists_table td:first-child {
  width: 10px;
  padding: 0px;
}

#extras_wishlists_table td:nth-child(2) {
  width: 38%;
  font-weight: bold;
  text-align: left;
}

#extras_wishlists_table td {
  width: 15%;
  text-align: right;
}

#extras_wishlists_table>div::-webkit-scrollbar {
  width: 12px;
}

#extras_wishlists_table>div::-webkit-scrollbar-track {
  background: #555;
}

#extras_wishlists_table>div::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 3px solid #555;
}

#extras_wishlists_table_header {
  width: 100%;
}

#extras_wishlists_table_header table {
  width: 100%;
}

#extras_wishlists_table_header {
  margin-top: 10px;
}

#extras_wishlists_table_header th:first-child {
  width: 10px;
  padding: 0px;
}

#extras_wishlists_table_header th:nth-child(2) {
  width: 38%;
}

#extras_wishlists_table_header th {
  width: 15%;
}

#extra_conversions_block td:first-child {
  width: 200px;
}

#extra_summary_block td:first-child {
  width: 200px;
}
