
body {
    background-color: #0e141bcc;
    padding: 0;
    margin: 0;
    font-family: "Motiva Sans", Sans-serif;
}

label {
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

td {
    width: 300px;
    padding: 2px 5px 2px 5px;
}

table {
    width: 100%;
}

#header {
    background-color: #000000;
    display: flex;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    float: left;
    width: 50px;
    height: 50px;
}

#header h1 {
    line-height: 0.8em;
    margin-left: 20px;
}

#content {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_block {
    background-color: #242424;
    padding: 20px;
    margin: 20px;
    width: 1000px;
}

tr {
    display: block;
    width: 100%;
    padding: 2px 0 2px 0;
    border-top: 1px solid #424242;
}

.table_category_title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin: auto;
    display: block;
    line-height: 1.8em;
}

.description {
    color: #8b969c;
    font-size: 12px;
    width: 500px;
    font-weight: lighter;
}

.description a {
    color: #8b969c;
}

.table_value {
    width: 80px;
}

.table_value input {
    background-color: #333;
    color: #ffffff;
    border: 0px;
    height: 20px;
    margin: 0 5px 0 5px;
}

.table_label {
    width: 250px;
    text-align: end;
    font-weight: bold;
    color: #ffffff;
    font-weight: bold;
}
